# Node modules directory
node_modules/

# Build output directories
dist/
build/
public/css/

# Log files
*.log

# Environment files
.env

# Tailwind CSS JIT cache
.tailwind-cache/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.lock
*.tmp